<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assembly-CSharp" version="1.6.0.4" targetFramework="net35" />
  <package id="ColossalManaged" version="1.6.0.4" targetFramework="net35" />
  <package id="ICities" version="1.6.0.4" targetFramework="net35" />
  <package id="SexyFishHorse.CitiesSkylines.Infrastructure" version="1.0.6179.42129" targetFramework="net35" />
  <package id="SexyFishHorse.CitiesSkylines.Logger" version="1.0.6179.42032" targetFramework="net35" />
  <package id="UnityEngine" version="1.6.0.4" targetFramework="net35" />
</packages>